params {
  //
  //   Generic Paramaters
  //
  help    = null
  Mode    = null
  runname = ""

  // Number of forks for each process
  PI_forks   = 100
  PI_retries = 2
  
  JS_forks   = 100
  JS_retries = 2

  MP_forks   = 1
  MP_retries = 2

  // Input | Output
  PS_nlrt_domains = null
  PS_input        = null
  PS_output       = '01_pdb_stats'
  PS_batch_name   = 'batch'

  //
  //   Process Specific Paramaters
  //

  PS_pdbs_per_channel = 200
  PI_cpus             = '4'
  PI_memory           = '64 GB'
  PI_disk             = '40 GB'
  PI_ext_args         = ""
  PI_ol_args          = ""

  JS_cpus             = '4'
  JS_memory           = '32 GB'
  JS_disk             = '40 GB'

  MP_cpus             = '2'
  MP_memory           = '16 GB'
  MP_disk             = '40 GB'
  MP_ext_args         = ""


  extract_coords_script = 'scripts/extract_pdb_coords.py'
  overlay_coords_script = 'scripts/overlay_pdb_coords.py'
  merge_scoring_script  = 'scripts/merge_pdb_scores.py'
}

workDir = 'gs://colabfoldlocal-db/workDir'

process {
  executor = 'google-batch'
  errorStrategy = { task.exitStatus==14 ? 'retry' : 'terminate' }
  maxRetries = 1
}

google {
  project = 'spry-connection-368822'
  location = 'us-central1'
  region = 'us-central1'
  batch.spot = true
}

// Required to enable fusion drives to be mounted
wave {
  enabled = false
}

// Generating a report upon the successful completion of the pipeline
report {
  enabled               = true
  file                  = 'rb_af2_scoring.html'
  overwrite             = true
}

docker {
    enabled = true
}
